body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1281px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:422px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:165px;
  width:1201px;
  height:422px;
  display:flex;
  color:#999999;
}
#u405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:39px;
  height:32px;
  display:flex;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:44px;
  width:44px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:44px;
  width:43px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:44px;
  width:63px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u409 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u409_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:44px;
  width:55px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:40px;
  width:81px;
  height:30px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u411 .text {
  position:absolute;
  align-self:center;
  padding:10px 8px 10px 8px;
  box-sizing:border-box;
  width:100%;
}
#u411_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 132, 207, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u411.mouseOver {
}
#u411_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u411.mouseDown {
}
#u411_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u411.mouseOver.mouseDown {
}
#u411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:40px;
  width:81px;
  height:30px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u412 .text {
  position:absolute;
  align-self:center;
  padding:10px 8px 10px 8px;
  box-sizing:border-box;
  width:100%;
}
#u412_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 132, 207, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u412.mouseOver {
}
#u412_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u412.mouseDown {
}
#u412_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u412.mouseOver.mouseDown {
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:98px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:1201px;
  height:98px;
  display:flex;
  color:#212529;
}
#u413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:39px;
  height:32px;
  display:flex;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:39px;
  height:32px;
  display:flex;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u415 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:44px;
  width:44px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u416 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u416_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:44px;
  width:43px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u417 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u417_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:44px;
  width:63px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u418 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:44px;
  width:55px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:40px;
  width:81px;
  height:30px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u420 .text {
  position:absolute;
  align-self:center;
  padding:10px 8px 10px 8px;
  box-sizing:border-box;
  width:100%;
}
#u420_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 132, 207, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u420.mouseOver {
}
#u420_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u420.mouseDown {
}
#u420_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u420.mouseOver.mouseDown {
}
#u420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:341px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1400px;
  width:1200px;
  height:341px;
  display:flex;
}
#u424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1509px;
  width:288px;
  height:62px;
  display:flex;
  color:#999999;
}
#u425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1467px;
  width:111px;
  height:13px;
  display:flex;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u426 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1688px;
  width:150px;
  height:16px;
  display:flex;
  color:#666666;
}
#u427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:1460px;
  width:116px;
  height:13px;
  display:flex;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1451px;
  width:46px;
  height:33px;
  display:flex;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u429 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1686px;
  width:89px;
  height:23px;
  display:flex;
  font-size:10px;
  color:#999999;
}
#u430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1486px;
  width:169px;
  height:114px;
  display:flex;
  font-size:11px;
  color:#999999;
}
#u431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:1686px;
  width:29px;
  height:28px;
  display:flex;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u432_img.mouseOver {
}
#u432.mouseOver {
}
#u432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:1686px;
  width:29px;
  height:28px;
  display:flex;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u433_img.mouseOver {
}
#u433.mouseOver {
}
#u433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:1686px;
  width:29px;
  height:28px;
  display:flex;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u434_img.mouseOver {
}
#u434.mouseOver {
}
#u434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:1486px;
  width:169px;
  height:151px;
  display:flex;
  font-size:11px;
  color:#999999;
}
#u435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1657px;
  width:1200px;
  height:1px;
  display:flex;
}
#u436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#006591;
  text-align:center;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:188px;
  width:193px;
  height:37px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#006591;
  text-align:center;
}
#u437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:77px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:11px;
  width:73px;
  height:77px;
  display:flex;
}
#u438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u440 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:242px;
  width:590px;
  height:275px;
  display:flex;
}
#u440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#252626;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:268px;
  width:348px;
  height:82px;
  display:flex;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#252626;
}
#u441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#252626;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:361px;
  width:348px;
  height:38px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#252626;
}
#u442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:456px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:1002px;
  width:939px;
  height:279px;
  display:flex;
}
#u447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#006591;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:1023px;
  width:82px;
  height:27px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#006591;
}
#u451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:1064px;
  width:70px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI Italic", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:1096px;
  width:656px;
  height:57px;
  display:flex;
  font-family:"Segoe UI Italic", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u453 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:1161px;
  width:491px;
  height:114px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u454 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:1031px;
  width:116px;
  height:19px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u455 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:1016px;
  width:49px;
  height:49px;
  display:flex;
  font-size:12px;
}
#u457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u457_img.mouseOver {
}
#u457.mouseOver {
}
#u457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:1029px;
  width:27px;
  height:26px;
  display:flex;
}
#u458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u458_img.mouseOver {
}
#u458.mouseOver {
}
#u458_img.mouseDown {
}
#u458.mouseDown {
}
#u458_img.selected {
}
#u458.selected {
}
#u458_img.mouseOver.mouseDown {
}
#u458.mouseOver.mouseDown {
}
#u458_img.mouseOver.selected {
}
#u458.mouseOver.selected {
}
#u458_img.mouseDown.selected {
}
#u458.mouseDown.selected {
}
#u458_img.mouseOver.mouseDown.selected {
}
#u458.mouseOver.mouseDown.selected {
}
#u458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:267px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1008px;
  width:269px;
  height:267px;
  display:flex;
}
#u459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#006591;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:1032px;
  width:39px;
  height:20px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#006591;
}
#u461 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u461_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#006591;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:706px;
  width:39px;
  height:19px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#006591;
}
#u463 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u463_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:266px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:677px;
  width:251px;
  height:266px;
  display:flex;
}
#u465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#006591;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:698px;
  width:67px;
  height:27px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#006591;
}
#u466 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:739px;
  width:84px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u467 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI Italic", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:766px;
  width:687px;
  height:57px;
  display:flex;
  font-family:"Segoe UI Italic", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:844px;
  width:572px;
  height:76px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u469 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:706px;
  width:121px;
  height:19px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:691px;
  width:51px;
  height:49px;
  display:flex;
  font-size:12px;
}
#u472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u472_img.mouseOver {
}
#u472.mouseOver {
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:704px;
  width:28px;
  height:26px;
  display:flex;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_img.mouseOver {
}
#u473.mouseOver {
}
#u473_img.mouseDown {
}
#u473.mouseDown {
}
#u473_img.selected {
}
#u473.selected {
}
#u473_img.mouseOver.mouseDown {
}
#u473.mouseOver.mouseDown {
}
#u473_img.mouseOver.selected {
}
#u473.mouseOver.selected {
}
#u473_img.mouseDown.selected {
}
#u473.mouseDown.selected {
}
#u473_img.mouseOver.mouseDown.selected {
}
#u473.mouseOver.mouseDown.selected {
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:706px;
  width:1px;
  height:15px;
  display:flex;
}
#u474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u478_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u478_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u478_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u478_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:456px;
  width:300px;
  height:40px;
  display:flex;
  color:#AAAAAA;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u478.hint {
}
#u478_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u478.disabled {
}
#u478_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u478.hint.disabled {
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:461px;
  width:33px;
  height:31px;
  display:flex;
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
