body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1281px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:39px;
  height:32px;
  display:flex;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u242_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:44px;
  width:44px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u243_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:44px;
  width:43px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u244_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:44px;
  width:63px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u245_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:44px;
  width:55px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:40px;
  width:81px;
  height:30px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u247 .text {
  position:absolute;
  align-self:center;
  padding:10px 8px 10px 8px;
  box-sizing:border-box;
  width:100%;
}
#u247_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 132, 207, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u247.mouseOver {
}
#u247_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u247.mouseDown {
}
#u247_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u247.mouseOver.mouseDown {
}
#u247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:40px;
  width:81px;
  height:30px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:10px 8px 10px 8px;
  box-sizing:border-box;
  width:100%;
}
#u248_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 132, 207, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u248.mouseOver {
}
#u248_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u248.mouseDown {
}
#u248_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u248.mouseOver.mouseDown {
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:98px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:1201px;
  height:98px;
  display:flex;
  color:#212529;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:39px;
  height:32px;
  display:flex;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u250 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:39px;
  height:32px;
  display:flex;
  font-family:"Segoe UI Bold", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#969696;
}
#u251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:44px;
  width:44px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:44px;
  width:43px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:44px;
  width:63px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:44px;
  width:55px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u255 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:40px;
  width:81px;
  height:30px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u256 .text {
  position:absolute;
  align-self:center;
  padding:10px 8px 10px 8px;
  box-sizing:border-box;
  width:100%;
}
#u256_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 132, 207, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u256.mouseOver {
}
#u256_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u256.mouseDown {
}
#u256_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
}
#u256.mouseOver.mouseDown {
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:351px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1000px;
  width:1200px;
  height:351px;
  display:flex;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1112px;
  width:288px;
  height:64px;
  display:flex;
  color:#999999;
}
#u261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1069px;
  width:111px;
  height:13px;
  display:flex;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1296px;
  width:150px;
  height:16px;
  display:flex;
  color:#666666;
}
#u263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:1062px;
  width:116px;
  height:13px;
  display:flex;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u264 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1052px;
  width:46px;
  height:34px;
  display:flex;
  font-family:"Century Gothic Bold", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u265 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1294px;
  width:89px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#999999;
}
#u266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1088px;
  width:169px;
  height:117px;
  display:flex;
  font-size:11px;
  color:#999999;
}
#u267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:1294px;
  width:29px;
  height:29px;
  display:flex;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u268_img.mouseOver {
}
#u268.mouseOver {
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:1294px;
  width:29px;
  height:29px;
  display:flex;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u269_img.mouseOver {
}
#u269.mouseOver {
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:1294px;
  width:29px;
  height:29px;
  display:flex;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u270_img.mouseOver {
}
#u270.mouseOver {
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:1088px;
  width:169px;
  height:156px;
  display:flex;
  font-size:11px;
  color:#999999;
}
#u271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1265px;
  width:1200px;
  height:1px;
  display:flex;
}
#u272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u273 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:459px;
  width:300px;
  height:446px;
  display:flex;
}
#u273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u274 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:459px;
  width:300px;
  height:446px;
  display:flex;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u275 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:459px;
  width:300px;
  height:446px;
  display:flex;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:247px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.9921568627450981);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:110px;
  width:1200px;
  height:247px;
  display:flex;
}
#u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#006591;
  text-align:center;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:174px;
  width:191px;
  height:37px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#006591;
  text-align:center;
}
#u277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI Italic", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:222px;
  width:721px;
  height:42px;
  display:flex;
  font-family:"Segoe UI Italic", "Segoe UI Regular", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#006591;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:672px;
  width:221px;
  height:37px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#006591;
}
#u279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:733px;
  width:210px;
  height:21px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#006591;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:672px;
  width:110px;
  height:37px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#006591;
}
#u281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:733px;
  width:249px;
  height:42px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:792px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:792px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#006591;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:672px;
  width:79px;
  height:37px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#006591;
}
#u285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:733px;
  width:227px;
  height:42px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:792px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:155px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:485px;
  width:150px;
  height:155px;
  display:flex;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:725px;
  width:231px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.37586111591354615deg);
  -moz-transform:rotate(-0.37586111591354615deg);
  -ms-transform:rotate(-0.37586111591354615deg);
  transform:rotate(-0.37586111591354615deg);
  color:rgba(215, 215, 215, 0.34901960784313724);
}
#u289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:2px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:732px;
  width:221px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.2592551515013859deg);
  -moz-transform:rotate(-0.2592551515013859deg);
  -ms-transform:rotate(-0.2592551515013859deg);
  transform:rotate(-0.2592551515013859deg);
  color:rgba(215, 215, 215, 0.34901960784313724);
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:134px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:506px;
  width:141px;
  height:134px;
  display:flex;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:2px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:732px;
  width:221px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.2592551515013859deg);
  -moz-transform:rotate(-0.2592551515013859deg);
  -ms-transform:rotate(-0.2592551515013859deg);
  transform:rotate(-0.2592551515013859deg);
  color:rgba(215, 215, 215, 0.34901960784313724);
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:166px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:490px;
  width:171px;
  height:166px;
  display:flex;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:77px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:11px;
  width:73px;
  height:77px;
  display:flex;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
